    body,
    html {
        height: 100%;
        margin: 0;
        background-image: url(photos/tile.jpg);
    }


    .container {
        display: grid;
        grid-template-rows: 5fr 2fr 10fr;
        row-gap: 20px;
        justify-items: center;

    }

    /* used this to test the grid lines  */
    /* #container>* {
        border: 5px solid black;
        box-sizing: border-box;
    } */

    h1 {
        font-size: 120px;
        text-align: center;
        font-family: 'Bebas Neue', sans-serif;
    }

    #paper {
        grid-row: 2;
        text-align: left;
        background-image: url(photos/formbg.jpg);
        width: 500px;
        height: 200px;
        padding-top: 17px;
        /* padding-top makes the written text appear on the second line of the paper  */
        text-align: center;
    }


    .panel {
        grid-row: 2;
        background-color: darkgoldenrod;
        border: 2px solid black;
        border-radius: 8px;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
    }


    #buttons {
        display: flex;
        grid-row: 3;
        align-items: center;
        justify-content: center;
        margin: 20px;
        gap: 30px;
    }


    .delete-btn {

        color: black;
        margin-left: 120px;
        margin-top: 20px;
        display: flex;
        align-items: right;
        justify-content: right;
        opacity: 0;
        transition: all 0.8s ease;
    }


    .delete-btn i {
        font-size: 12px;
        color: black;
    }


    .task-note {

        font-size: 20px;
        width: 180px;
        height: 240px;
        background-image: url(photos/notebg.png);
        margin: 10px;
        padding: 10px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        scrollbar-width: none;
        animation: fadeIn 1.5s;
    }


    .task-note:hover .delete-btn {
        opacity: 1;
    }

    #tasks {
        display: flex;
        grid-row: 4;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 200px;
        padding: 10px;

    }



    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.95);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    form {
        display: flex;
        grid-row: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }




    .top-bar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 20px;
        margin-bottom: 5px;
    }

    .note-text {
        font-size: 16px;
        word-break: keep-all;
        white-space: normal;

    }

    #date-created {
        font-size: 6px;

    }

    .due-date {
        font-size: 14px;
        text-align: left;
        width: 100%;
    }